<header *ngIf="layout === 'desktop'">
  <a
    routerLink="/blog"
    class="blog-link"
    [attr.aria-label]="t('blog.actions.open')">
    {{ t('blog.title') }}
  </a>
  <img 
    src="/icons/config.svg" 
    alt="Configuration" 
    class="config-icon" 
    (click)="toggleConfigPanel()"
    [matTooltip]="t('tooltips.cursorConfig')"
    matTooltipPosition="left"
  >
  <img 
    src="/icons/idioma.png" 
    alt="Language" 
    class="language-icon" 
    (click)="toggleLanguagePanel()"
    [matTooltip]="t('tooltips.languageConfig')"
    matTooltipPosition="left"
  >
</header>

<app-config-panel 
  #configPanel
  *ngIf="showConfigPanel && layout === 'desktop'" 
  (close)="showConfigPanel = false">
</app-config-panel>

<app-language-panel
  #languagePanel
  *ngIf="showLanguagePanel"
  (close)="showLanguagePanel = false">
</app-language-panel>

<villayoel-desktop *ngIf="layout === 'desktop'"></villayoel-desktop>
<villayoel-mobile *ngIf="layout === 'mobile'" (openLanguagePanel)="toggleLanguagePanel()"></villayoel-mobile>
