<header *ngIf="layout === 'desktop'">
  <a
    [routerLink]="blogIndexLink"
    class="blog-link"
    [attr.aria-label]="t('blog.actions.open')">
    {{ t('blog.title') }}
  </a>
  <button
    type="button"
    class="blog-link language-trigger"
    (click)="toggleLanguagePanel()">
    <img src="/icons/idioma.png" alt="" aria-hidden="true" class="language-trigger-icon">
    <span>{{ currentLanguage | uppercase }}</span>
  </button>
  <button
    type="button"
    class="config-icon"
    [attr.aria-label]="t('tooltips.cursorConfig')"
    (click)="toggleConfigPanel()">
    <span class="config-icon-glyph" aria-hidden="true"></span>
  </button>
</header>

@if (showConfigPanel) {
  @defer (when showConfigPanel) {
    <app-config-panel
      #configPanel
      [layout]="layout"
      (close)="showConfigPanel = false">
    </app-config-panel>
  }
}

@if (showLanguagePanel) {
  @defer (when showLanguagePanel) {
    <app-language-panel
      #languagePanel
      (close)="showLanguagePanel = false">
    </app-language-panel>
  }
}

@if (layout === 'desktop') {
  @defer (when layout === 'desktop') {
    <villayoel-desktop></villayoel-desktop>
  }
} @else {
  @defer (when layout === 'mobile') {
    <villayoel-mobile
      (openLanguagePanel)="toggleLanguagePanel()"
      (openConfigPanel)="toggleConfigPanel()"></villayoel-mobile>
  }
}
